@model CloudAtlas.Models.ProjectViewModel

<div class="user-img">
    @foreach (var item in Model.Project.ApplicationUsers)
    {
        <img alt="@item.UserName" title="@item.UserName" src="@Url.Content(item.AvatarPath)" />
    }
</div>

<a href="#">
    <i class="fa fa-plus-circle add-colab" aria-hidden="true"></i>
</a>
