@model CloudAtlas.Models.ErrorViewModel

@{
    ViewBag.Title = "Error";
}

<div class="http-error-box">
    <div class="container">
        <h2>@Model.StatusCode</h2>
        <h3>@Model.Message</h3>

        <div class="error-buttons">
            <a class="btn-primary error-button" onclick="javascript:history.back()">Go back</a>
        </div>
    </div>
</div>

