@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CloudAtlas - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <div class="bgimage">
        <div class="container">
            <div class="text">
                <h1>Cloud Atlas</h1>
                <span>The future of coding</span>
            </div>


            <div class="login-buttons">
                <a href="/Dashboard">
                    <img src="~/Content/images/facebook-social.png">
                </a>
                <img src="~/Content/images/google-social.png">
                <img src="~/Content/images/github-social.png">
            </div>
        </div>
    </div>
</body>
</html>