@model CloudAtlas.Models.Project

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="create-project-container">
    <h1>Lets create something new</h1>

        @using (Html.BeginForm("Create", "Project", FormMethod.Post, htmlAttributes: new { @class = "create-project-form" }))
        {
            <label for="name">Name of project</label>
            @Html.TextBoxFor(m => m.Name, htmlAttributes: new { name = "name" })

            <label for="colorScheme">Programming language</label>

            @Html.DropDownListFor(x => x.Type, ViewData["Type"] as List<SelectListItem>)
            <input type="submit" name="submit" value="Create">
        }
    <div class="BackIcon">
        <a href="@Url.Action("Index", "Dashboard")" class="btn btn-primary">
            <i class="fa fa-arrow-left fa-2x"></i>
        </a>
    </div>
</div>



