@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="project-container">
    <div class="main">
        HÉRNA KEMUR ACE EDTIOR SVESS
    </div>

    <div class="left-sidebar">
        <h3>Project 1</h3>

        <div id="jstree">
            <!-- in this example the tree is populated from inline HTML -->
            <ul>
                <li class="jstree-open" id="node_1">
                    project 1
                    <ul>
                        <li id="child_node_1">test</li>
                        <li>index.js</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="right-sidebar">
        <h3>Collaborators</h3>

        <div class="collaborators">
            <div class="user">
                <img src="#" alt="" />
            </div>
        </div>

        <h3>Chat</h3>
    
        <div class="messages">
            <div class="message-chat">
                <ul>
                    <li>Krissi: Er búið að setja inn login kóðann?</li>
                    <li>Sverrir: sJá það var búið</li>
                    <li>Kolli: Gegggjað!</li>
                    <li>Kolli: Gegggjað!</li>
                    <li>Kolli: Gegggjað!</li>
                    <li>Kolli: Gegggjað!</li>
                    <li>Kolli: Gegggjað!</li>
                </ul>
            </div>

            <div class="message-box">
                <input type="text" />
            </div>
        </div>
    </div>
</div>
