@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="project-container">
    <div class="main">
        <div id="editor" style="width: 100%; height:100%;">
            int x = 3;
            cout << x;
        </div>
    </div>

    <div class="left-sidebar">
        <h3>Project 1</h3>

        <div id="jstree">
            <!-- in this example the tree is populated from inline HTML -->
            <ul>
                <li class="jstree-open" id="node_1">
                    project 1
                    <ul>
                        <li id="child_node_1">test</li>
                        <li>index.js</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="right-sidebar">
        <h3>Collaborators</h3>

        <div class="collaborators">
            <div class="user-img">
                <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/1554494_10202480640245651_7477605474618443507_n.jpg?oh=32dfb7eb5346ac6762711cd7ed1c32af&oe=5980ABF8" alt="" />
            </div>

            <div class="user-img">
                <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/1554494_10202480640245651_7477605474618443507_n.jpg?oh=32dfb7eb5346ac6762711cd7ed1c32af&oe=5980ABF8" alt="" />
            </div>

            <div class="user-img">
                <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/1554494_10202480640245651_7477605474618443507_n.jpg?oh=32dfb7eb5346ac6762711cd7ed1c32af&oe=5980ABF8" alt="" />
            </div>

            <div class="user-img">
                <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
            </div>
        </div>

        <h3>Chat</h3>
    
        <div class="messages">
            <div class="message-chat">
                <ul>
                    <li>Krissi: Er búið að setja inn login kóðann?</li>
                    <li>Sverrir: sJá það var búið</li>
                    <li>Kolli: Gegggjað!</li>
                    <li>Kolli: Gegggjað!</li>
                    <li>Kolli: Gegggjað!</li>
                    <li>Kolli: Gegggjað!</li>
                    <li>Kolli: Gegggjað!</li>
                </ul>
            </div>

            <div class="message-box">
                <input type="text" id="message" />
                <input type="button" id="sendmessage" value="Send" />
                <input type="hidden" id="displayname" />
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/c_cpp");

    $(document).ready(function () {
        $('#message').keypress(function (e) {
            if (e.keyCode == 13)
                $('#sendmessage').click();
        });
    });
</script>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            // Reference the hub
            var chat = $.connection.chatHub;
            editor.$blockScrolling = Infinity;

            var ignore;

            // Hub calls this function, happens auto now!
            chat.client.addNewMessageToPage = function (message) {
                ignore = true;
                var row = editor.getCursorPosition()['row'];
                var column = editor.getCursorPosition()['column'];
                editor.getSession().setValue(message);
                editor.gotoLine(row+1, column, 0);
                ignore = false;
            };

            chat.client.addNewMessageToPage2 = function (name, message) {
                // Add the message to the page.
                $('#discussion').append('<li><strong>' + htmlEncode(name)
                    + '</strong>: ' + htmlEncode(message) + '</li>');
                console.log(message);
            };

            $('#displayname').val(prompt('Enter your name:', ''));

            // Hub
            $.connection.hub.start().done(function () {
                editor.on('change', function () { // sync for each change
                    if (!ignore)
                    {
                        chat.server.send(editor.getValue());
                    }
                });

                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    chat.server.send2($('#displayname').val(), $('#message').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });

            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

    </script>
}
