@model CloudAtlas.Models.DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="dashboard-container">
    <div class="my-projects">
        <h3><i class="fa fa-folder-open" aria-hidden="true"></i> My Projects</h3>
        <div class="box-projects">
            @foreach (var i in Model.Projects)
            {
                <div class="box @(ViewData["userid"].Equals(i.OwnerID) ? "is-owner" : "not-owner" )">
                    <div class="left">
                        <a href=@Url.Action("Index", "Project", new { id = i.ID })>
                            @i.Name
                        </a>
                        @if (ViewData["userid"].Equals(i.OwnerID))
                        {
                            <a href=@Url.Action("Delete", "Project", new { projectid = i.ID })>
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        }
                        else
                        {
                            <a href=@Url.Action("Leave", "Project", new { projectid = i.ID })>
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </a>
                        }
                        <span>@i.DateCreated</span>
                    </div>

                    <div class="right">
                        <a href=@Url.Action("Index", "Project", new { id = i.ID })>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            }
            <div class="create-button-wrap">
                <a href=@Url.Action("Create", "Project", null)>
                    <div class="create-box">
                        <h2>New project</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="my-groups">
        <h3><i class="fa fa-folder-open" aria-hidden="true"></i> My Groups</h3>
        <div class="box-groups">
            @foreach (var i in Model.Groups)
            {
                <div class="box">
                    <a href=@Url.Action("Index", "Group", new { id = i.ID })>
                        @i.Name
                    </a>
                </div>
            }

            <div class="create-button-wrap">
                <a href=@Url.Action("Create", "Group", null)>
                    <div class="create-box">
                        <h2>New group</h2>
                    </div>
                </a>
            </div>

        </div>
    </div>

</div>