@{
    ViewBag.Title = "Project";
}

<h1>Projecto</h1>

<style>
    #editor
    {
        width: 400px;
        height: 400px;
    }
    .under
    {
        width: 33%;
    }
    .over
    {
        display: flex;
        width: 100%;
    }

</style>

<div class="over">
    <div class="under">

    </div>
    <div class="under">
        <div id="editor">
            int x = 3;
            cout << x;
        </div>
        <input type="button" id="savecode" value="Save"/>
    </div>
    <div class="under">

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/c_cpp");
</script>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    
    <script>
        $(function () {
            // Reference the hub
            var chat = $.connection.chatHub;
            editor.$blockScrolling = Infinity;

            var ignore;

            // Hub calls this function, happens auto now!
            chat.client.addNewMessageToPage = function (message) {
                ignore = true;
                var row = editor.getCursorPosition()['row'];
                var column = editor.getCursorPosition()['column'];
                editor.getSession().setValue(message);
                editor.gotoLine(row+1, column, 0);
                ignore = false;
            };

            // Hub 
            $.connection.hub.start().done(function () {
                editor.on('change', function () { // sync for each change
                    if (!ignore)
                    {
                        chat.server.send(editor.getValue());
                    }
                });

            });
        });
        
    </script>
}
