@model CloudAtlas.Models.ApplicationUser

@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="settings-container">
    <h1>Settings</h1>

    
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="@Model.UserName">

    <label for="colorScheme">Color Scheme</label>

    @Html.DropDownList("Color Scheme", ViewData["Theme"] as List<SelectListItem>  ,new { @id = "colorScheme" })


    <input type="button" id="save" value="Save Changes" />
    
</div>


@section scripts {
    <script>
        $('#save').click(function () {
            $.ajax({
                url: '/Dashboard/SaveSettings',
                dataType: 'json',
                data: { UserName: $('#name').val(), theme: $('#colorScheme').find(":selected").val() },
                method: 'POST',
                success: function (data) {
                    $('#save').val('Saved!')
                    setTimeout(function () {
                        $('#save').val('Save Changes')}, 1500);
                }
            });
        });



    </script>
    
}