
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="settings">

    <form class="form-style-1">
        <label for="name">Name</label>
        <input type="text" name="name">

        <select name="colorScheme" id="">
            <option value="dark">Dark</option>
            <option value="light">Light</option>
        </select>

        <input type="submit" name="submit" value="Save Changes">
    </form>

</div>